<!DOCTYPE html>
<html lang="en">

<head>
    <title>New Available Slot</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="url('https://cs2102project.herokuapp.com/static/images/icons/favicon.ico')" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="url('https://cs2102project.herokuapp.com/static/vendor/bootstrap/css/bootstrap.min.css')">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="url('https://cs2102project.herokuapp.com/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css')">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="url('https://cs2102project.herokuapp.com/static/fonts/Linearicons-Free-v1.0.0/icon-font.min.css')">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="url('https://cs2102project.herokuapp.com/static/vendor/animate/animate.css')">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="url('https://cs2102project.herokuapp.com/static/vendor/css-hamburgers/hamburgers.min.css')">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="url('https://cs2102project.herokuapp.com/static/vendor/animsition/css/animsition.min.css')">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="url('https://cs2102project.herokuapp.com/static/vendor/select2/select2.min.css')">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="url('https://cs2102project.herokuapp.com/static/vendor/daterangepicker/daterangepicker.css')">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="url('https://cs2102project.herokuapp.com/static/css/login-util.css')">
    <link rel="stylesheet" type="text/css" href="url('https://cs2102project.herokuapp.com/static/css/login-main.css')">
    <!--===============================================================================================-->

    <style>
        .container {
            width: 390px;
        }

        .buttonWrapper {
            padding-bottom: 32px;
            padding-top: 30px;
        }

        #registerButton {
            display: block;
            margin: 0 auto;
        }

        #partTimeOption {
            display: inline;
            float: left;
            padding-left: 60px;
            padding-right: 40px;
        }

        #is_part_time {
            float: left;
            height: 20px;
            width: 20px;
        }

        .partTimeWrapper {
            padding-top: 10px;
            border-top: 1px solid #e6e6e6;
        }

        .formField {
            padding: 10px 0;
        }
    </style>
</head>

<body>
    <div class="topbar">
        <a href="https://cs2102project.herokuapp.com/caretaker">Home</a>
        <a href="https://cs2102project.herokuapp.com/caretaker/profile">Profile</a>
        <a href="https://cs2102project.herokuapp.com/caretaker/cantakecare">Categories</a>
        <a href="https://cs2102project.herokuapp.com/caretaker/biddings">Biddings</a>
        <a href="https://cs2102project.herokuapp.com/caretaker/available">Availability</a>
        <a href="https://cs2102project.herokuapp.com/logout">Logout</a>
    </div>
    <div class="limiter">
        <div class="container-login100" style="background-image: url('../static/images/bg-01.jpg');">
            <div class="container">
                <form class="registrationForm login100-form">
                    {{ form.hidden_tag() }}
                    <div class="formField wrap-input100 validate-input">
                        {{ form.startday }} {% if form.startday.errors %}
                        <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                        <div class="errorMessage">
                            {% for error in form.startday.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>

                    <div class="formField wrap-input100 validate-input">
                        {{ form.endday }} {% if form.endday.errors %}
                        <div class="errorMessage">
                            {% for error in form.endday.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>

                    <div class="buttonWrapper">
                        <button id='addButton' class="login100-form-btn" formmethod="post">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>