<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="../static/css/topbar.css">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="https://cs2102project.herokuapp.com/static/table_style/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="https://cs2102project.herokuapp.com/static/table_style/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="https://cs2102project.herokuapp.com/static/table_style/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="https://cs2102project.herokuapp.com/static/table_style/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="https://cs2102project.herokuapp.com/static/table_style/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="https://cs2102project.herokuapp.com/static/table_style/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="https://cs2102project.herokuapp.com/static/table_style/css/util.css">
    <link rel="stylesheet" type="text/css" href="https://cs2102project.herokuapp.com/static/table_style/css/main.css">
    <!--===============================================================================================-->

    <link rel="stylesheet" type="text/css" href="https://cs2102project.herokuapp.com/static/css/topbar.css">

    <style>
        body {
            margin: 0;
        }
        
        .table{
            font-size: 14px;
            position: absolute;
            margin-top: 30px;
        }
        .content{
            position: absolute;
            left: 30%;
            top: 50%;
            width: 1200px;
            transform: translate(-28%,100%);
        }
        .wrapper {
            position: relative;
        }
        
        h1 {
            font-size: 20px;
        }
        table thead tr {
            height: 60px;
            background: bisque;
        }
    </style>
</head>

<body>
    <div class="topbar">
        <a href="https://cs2102project.herokuapp.com/caretaker">Home</a>
        <a href="https://cs2102project.herokuapp.com/caretaker/profile">Profile</a>
        <a href="https://cs2102project.herokuapp.com/caretaker/cantakecare">Categories</a>
        <a href="https://cs2102project.herokuapp.com/caretaker/biddings">Biddings</a>
        <a href="https://cs2102project.herokuapp.com/caretaker/available">Availability</a>
        <a href="https://cs2102project.herokuapp.com/logout" id="logout">Logout</a>
    </div>

    <div class="wrapper">
        <div class="content">
            <h1>
                Hello, {{ username }}! Here are the current bids for you!
            </h1>
            <div class="table">{{table}}</div>
        </div>
        <div>
            {% with messages = get_flashed_messages() %} {% if messages %} {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %} {% endif %} {% endwith %}
        </div>
    </div>


    <!--===============================================================================================-->
    <script src="https://cs2102project.herokuapp.com/static/table_style/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="https://cs2102project.herokuapp.com/static/table_style/vendor/bootstrap/js/popper.js"></script>
    <script src="https://cs2102project.herokuapp.com/static/table_style/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="https://cs2102project.herokuapp.com/static/table_style/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="https://cs2102project.herokuapp.com/static/table_style/js/main.js"></script>

</body>

</html>