<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Caretaker</title>
    <link href="static/css/topbar.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css">
    <style>
        body{
            margin: 0;
        }
        .wrapper{
            position: relative;
        }
        .content{
            position: absolute;
            left: 45%;
            top: 50%;
            transform: translate(-28%,100%);
        }
        .table1{
            width: 526px;
        }
    </style>
</head>

<body>
    <div class="topbar">
        <a href="https://cs2102project.herokuapp.com/caretaker">Home</a>
        <a href="https://cs2102project.herokuapp.com/caretaker/profile">Profile</a>
        <a href="https://cs2102project.herokuapp.com/caretaker/cantakecare">Categories</a>
        <a href="https://cs2102project.herokuapp.com/caretaker/biddings">Biddings</a>
        <a href="https://cs2102project.herokuapp.com/caretaker/available">Availability</a>
        <a href="https://cs2102project.herokuapp.com/logout" id="logout">Logout</a>
    </div>
    
    <div class="wrapper">
        <div class="content">
            <div>
                <p>Here are your working hours and pay this month!</p>
                <div class="table1 pure-table pure-table-bordered">
                    {{ table1 }}
                </div>
                <p>Here is the list of all your accepted biddings!</p>
                <div class="table2 pure-table pure-table-bordered">
                    {{ table2 }}
                </div>
            </div>
        </div>
    </div>

</body>
</html>