<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bid</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="../static/css/topbar.css">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="https://cs2102project.herokuapp.com/static/table_style/images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://cs2102project.herokuapp.com/static/table_style/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://cs2102project.herokuapp.com/static/table_style/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://cs2102project.herokuapp.com/static/table_style/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://cs2102project.herokuapp.com/static/table_style/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://cs2102project.herokuapp.com/static/table_style/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="https://cs2102project.herokuapp.com/static/table_style/css/util.css">
	<link rel="stylesheet" type="text/css" href="https://cs2102project.herokuapp.com/static/table_style/css/main.css">
<!--===============================================================================================-->
    
    <style>
        #logout{
            float: right;
        }
        body{
            margin: 0;
        }
        .wrapper{
            position: relative;
        }
        .content{
            position: absolute;
            left: 50%;
            top: 50%;
            width: 900px;
            height: 200px;
            transform: translate(-28%,100%);
        }
        h1{
            font-size: 20px;
        }
        .table{
            font-size: 14px;
            position: absolute;
            margin-top: 30px;
            left: 23%;
        }
    </style>
</head>

<body>
    <div class="topbar">
      <a href="https://cs2102project.herokuapp.com/owner">Home</a>
      <a href="https://cs2102project.herokuapp.com/owner/pet">Pets</a>
      <a href="https://cs2102project.herokuapp.com/owner/bid">Bid</a>
      <a href="https://cs2102project.herokuapp.com/logout" id="logout">Logout</a>
    </div>

    <div>
    <div class="wrapper">
        <div class="content">
            <h1>
                Here are a list of your bids.
            </h1>
            <div class="table">{{table}}</div>
        </div>
    </div>


    <!--===============================================================================================-->	
	<script src="https://cs2102project.herokuapp.com/static/table_style/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
        <script src="https://cs2102project.herokuapp.com/static/table_style/vendor/bootstrap/js/popper.js"></script>
        <script src="https://cs2102project.herokuapp.com/static/table_style/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
        <script src="https://cs2102project.herokuapp.com/static/table_style/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
        <script src="https://cs2102project.herokuapp.com/static/table_style/js/main.js"></script>

</body>
</html>